.map-container{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 0;
}

.covid-header{
    position: absolute;
    z-index: 1000;
    padding-left: 2rem;
}

.leaflet-container {
    width: 100%;
    height: 100vw;
}
